.project-card {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: black;
  }
  
  .project-card p {
    color: gray;
  }
  